{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
</div>
{% if not object_list %}
    <h1>Продуктов нет</h1>
{% else %}
<div class="row">
    {% for item in object_list %}
        <div class="col-xl-4 col-lg-6 mb-4">
            <form class="card" action="/check_item" method="post">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d- align-items-center">
                            <div class="ms-3 float-start">
                                <p class="fw-bold mb-1">{{ item.name }}</p>
                                <p class="text-muted mb-0">{{ item.category }}</p>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success white" style="--bs-btn-bg: #28a745">
                            <img src="{% static 'icons/cart-check-fill-white.svg' %}" class="float-end" width="30"
                                 height="30">
                        </button>
                    </div>
                </div>
            </form>
        </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}